<% var pageTitle = 'Rooms' %>
<%- include('../includes/header.ejs', {pageTitle: pageTitle}) %>

<h1><%= pageTitle %></h1>

<a href="/room/create" id="create-room">Create a new room</a>

<div id="rooms">
    
</div>

<%- include('../includes/footer.ejs', {pageTitle: 'Login'}) %>