<% var pageTitle = 'Room' %>
<%- include('../includes/header.ejs', {pageTitle: pageTitle}) %>

<h1><%= pageTitle %></h1>

<div id="rooms">
    
</div>

<%- include('../includes/footer.ejs', {pageTitle: 'Login'}) %>