<%- include('../includes/header.ejs', {pageTitle: 'Room', roomID: roomID}) %>

<h1>Room</h1>

<h3>Room users</h3>
<div id="room-users"></div>

<%- include('../includes/footer.ejs', {pageTitle: 'Login'}) %>